@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4f46e5;
  --color-secondary: #64748b;
  --color-danger: #dc2626;

  --color-text-primary: #ffffff;
  --color-text-secondary: #0f172a;

  --color-bg: #ffffff;
  --color-fg: #0f172a;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
}

[data-theme="dark"] {
  --color-bg: #020617;
  --color-fg: #f8fafc;

  --color-text-primary: #020617;
  --color-text-secondary: #f8fafc;

}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}
